@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply min-h-full scroll-smooth bg-dark ;
}

* {
    color: white;
    box-sizing: border-box;
    font-family: var(--font-raleway);
}

.dot-body {
	opacity: 1;
	background-image: radial-gradient(#333 0.6000000000000001px, transparent 0.6000000000000001px),
		radial-gradient(#333 0.6000000000000001px, transparent 0.6000000000000001px);
	background-size: 24px 24px;
	background-position: 0 0, 12px 12px;
    /* @apply bg-dark; */
    @apply bg-transparent z-10;
}

.container {
	width: clamp(16rem, 90vw, 1280px);
	margin: 0 auto;
}

.bold {
    @apply font-bold text-purple-500;
}

.bottom-border {
    @apply border-b-[1px] border-light/30
}

a {
    text-decoration: underline;
}

.head-underline {
    position: relative;
}

.head-underline:before {
    content: "";
    height: 4px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -16px;
    width: 50%;
    @apply bg-primary
}