
.stars-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    overflow: hidden;
    /* @apply bg-dark */
}

.star{
    position: absolute;
    top:50%;
    left:50%;
    width: 4px;
    height: 4px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1),0 0 0 8px rgba(255,255,255,0.1),0 0 20px rgba(255,255,255,0.1);
    animation: animate 3s linear infinite;
}
.star::before{
    content:'';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg,#fff,transparent);
}
@keyframes animate
{
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    50%
    {
        opacity: 1;
    }
    70%, 100%
    {
        transform: rotate(315deg) translateX(-1000px);
        opacity: 0;
    }
}
.star:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-duration: 10s;
}
.star:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-duration: 8s;
}
.star:nth-child(3){
    top: 0;
    right: 80vw;
    left: initial;
    animation-duration: 6s;
}
.star:nth-child(4){
    top: 0px;
    right: 120vw;
    left: initial;
    animation-duration: 5s;
}